/*!
 * jodit - Jodit is an awesome and useful wysiwyg editor with filebrowser
 * Author: Chupurnov <chupurnov@gmail.com> (https://xdsoft.net/jodit/)
 * Version: v4.2.27
 * Url: https://xdsoft.net/jodit/
 * License(s): MIT
 */
	
@keyframes jd-speak-animation {
  0% {
    fill: green;
    opacity: 0.3;
  }
  100% {
    fill: #4285f4;
  }
}
svg.jodit-icon_speechRecognize {
  stroke: none !important;
}
.jodit-toolbar-button_pulse_true svg {
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-name: jd-speak-animation;
}
.jodit-speech-recognize__list-item {
  display: flex;
  padding: var(--jd-padding-default);
}
.jodit-speech-recognize__popup {
  font-family: var(--jd-font-default);
  font-size: var(--jd-font-size-default);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: rgba(240, 240, 240, 0.4);
  font-size: 32px;
  line-height: 1.5;
  transform: translate(-50%, -50%);
}

